mixin pagination
    .pagination
        p.first_page 1
        p.other_page 2
        p.other_page 3
        p.other_page  ...
        p.other_page.ppage 15
        p.material-icons.last_page arrow_forward
    .pagination_text
        p.pagination_subtext 1 – 12 из 100+ вариантов аренды
