.feedback_field{
    width:280px;
    height:5px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    
}
.user_avatar{
    background-image: url("../../src/assets/user_avatar.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top:22px;
    width: 48px;
    height: 68px;
}
.feedback_name{
    color:$ds75;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 60px;
    margin: 0 ;
}
.feedback_date{
    color:$ds75;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 60px;
    margin: 0 ;
}
.feedback_text{
    color:$ds75;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 58px;
    margin:0;
}   
.feedback_like{
    position: absolute;
    top:4px;
    left:4px;
}
.main_feedback{
   position: relative;
   width: 690px;
}