.cards_page{
    display: flex;
    justify-content: space-between;
}
.cards_column{
    width: 380px;
}

body{
    background: #E5E5E5;
}
.find_number_card{
    margin-bottom: 20px;
}
.hotel_number_card{
    margin-bottom: 20px;
}