.expandable_checkbox{
    display: flex;
    width: 210px;
}
.expandable_text{
    cursor: pointer;
    color: #1F2041;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    text-transform: uppercase;
}
.expand_arrow{
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
}
.expandable_button{
    position: absolute;
    z-index: 2;
}
.expandable_input{
    width: 210px;
    height: 44px;
    opacity: 0;
}
.expandable_list_none{
    display: none;
}
