mixin rich_checkbox(id,text,subtext)
    .rich_checkbox
        input.rich_checkbox_input(type="checkbox", id=id)
        label.rich_checkbox_label(for= id)=text
        p.rich_checkbox_subtext=subtext