.rich_checkbox{
    position:relative;
    width:260px;
    padding-bottom: 35px;
}
.rich_checkbox_input{
    appearance: none;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 3;
    margin:0px;
}
.rich_checkbox_label{
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding-left:30px;
}

.rich_checkbox_label:before{
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0px 0px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.rich_checkbox_label:after{
    content: "";
    display:block;
    width: 20px;
    height: 20px;

    background: url("../../assets/check.svg") no-repeat;
    background-size: 12px 12px;
    opacity: 0;
    position: absolute;
    top:4px;
    left:4px;
    z-index: 2;
}

.rich_checkbox_input:checked + .rich_checkbox_label:before{
    border-color:#BC9CFF;
    
}
.rich_checkbox_input:checked + .rich_checkbox_label:after{
    opacity: 1;
    
}

.rich_checkbox_subtext{
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top:10px;
    left:30px;
}