mixin button_fill(text)
    input.but_fill(type="button", value=text)
    
mixin button_nofill(text)
    input.but_nofill(type="button", value=text)

mixin button_noborder(text)
    input.but_noborder(type="button", value=text)

mixin button_long(text)
    input.material-icons.but_long(type="button", value=text) 
    p.material-icons arrow_forward
