mixin button_fill(text)
    input.but_fill.header_item(type="button", value=text)
    
mixin button_nofill(text)
    input.but_nofill.header_item(type="button", value=text)

mixin button_noborder(text)
    input.but_noborder(type="button", value=text)

mixin button_long(text)
    .button_long
        input.but_long(type="button", value=text) 
        p.material-icons.button_arrow arrow_forward
