.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.icon_item{
    margin-right: 20px;
      
  }
.icon_item:last-child{
    margin-right: 0px;
}
.copyright_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $ds75;
}

.footer_hr{
    border: 1px solid white;
    box-shadow: 0px 2px 0px rgba(31, 32, 65, 0.1);
}
.footer_list{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer_logo{
    width: 25%;

}
.footer_nav{
    width: 75%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.footer_menu-title{
    font-family: Montserrat-Bold;
    color:$ds100;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.footer_menu-item{
    
    text-decoration: none;
    color:$ds50;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
}
.footer_li{
    margin-bottom: 20px;
}
.footer_ul{
    list-style: none;
}
.footer_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:$ds75;
}
.footer_menu-input{
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: $ds25;

}

.footer_logo-pic{
    margin-top:15px;
}

.footer_subs-text{
    color:$ds75;
}

.footer_arrow{
    position: absolute;
    width: 44px;
    height: 44px;
    // display: table-cell;
    // vertical-align: middle;
    // margin-left: auto;
    // margin-bottom: 20px;
    margin-left:83%;
    margin-bottom:120px;
    
}

.arrow_forward{
    margin-left: 12px;
    margin-right: 12px;
    
}

.footer_input{
    width: 260px;
    height: 44px;
    position: relative;
}