
mixin like_button 
    .like_button
        input.like_input#like_trigger(type="checkbox" value="like"  )
        label.like_label#likecount(for="like") 11
        span.material-icons.heart_icon#like_heart favorite_border