mixin textfield(text)
    input.textfield_mixin(type="email", name="Email", placeholder=text)
mixin subs_textfield(text)
    .subs_textfield_mixin
        input.subs_textfield(type="email", name="Email", placeholder=text)
        input.subs_textfield_button(type="button")
        