
.menu
  
  .header_logo
      
    a(href="#")
      <img src='/src/assets/logo.svg' alt='toxin' class="logo_pic">
  nav.navbar
    ul.header_list
      li.header_item: a.header_link(href="#") О нас 
      li.header_item: a.header_link(href="#") Услуги <img src='/src/assets/expand_more.svg' alt='exdpand' >
      
      li.header_item: a.header_link(href="#") Вакансии
      li.header_item: a.header_link(href="#") Новости
      li.header_item: a.header_link(href="#") Соглашения <img src='/src/assets/expand_more.svg' alt='exdpand' >
      
      button.but_in.header_item Войти
      button.but_reg.header_item Зарегистрироваться
      