mixin dropdown_with_buttons
    .iqdropdown
        p.iqdropdown-selection
        .iqdropdown-menu
            .iqdropdown-menu-option(data-id="1")
                div
                    p.iqdropdown-item Взрослые
        
            .iqdropdown-menu-option(data-id="2")
                div
                    p.iqdropdown-item Дети
            
            .iqdropdown-menu-option(data-id="3")
                div
                    p.iqdropdown-item Младенцы

