extends base.pug
block header 
    .logo_uikit
block main
    .wrapper_uikit
        .cards_page
            .cards_column
                .find_number_card 
                    include ../../components/cards/find_number/find_number.pug
            .cards_column 
            .cards_column 
