extends base.pug
block header 
    .logo_uikit
block main
    include ../../components/header/header.pug
    +header
    .empty_field
    +header_nobutton
    .empty_field
    include ../../components/footer/footer.pug
    +footer
    .empty_field
    .footer_mini_field
        +footer_mini
