mixin feedback_field
    .feedback_field
        span.user_avatar
        p.feedback_name Мурад Сарафанов
        p.feedback_date 5 дней назад
    .main_feedback
        .feedback_like
            include ../like_button/like_button.pug
            +like_button
        p.feedback_text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        
