@import '../textfield/textfield.scss';
.footer{
    max-width: 1160px;
   margin: 0 auto;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.icon_item{
    margin-right: 20px;
      
  }
.icon_item:last-child{
    margin-right: 0px;
}
.copyright_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
}

.footer_hr{
    border: 1px solid white;
    box-shadow: 0px 2px 0px rgba(31, 32, 65, 0.1);
}
.footer_list{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer_logo{
    width: 25%;

}
.footer_nav{
    width: 75%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.footer_menu-title{
    font-family: 'Montserrat-Bold';
    color:#1F2041;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.footer_menu-item{
    
    text-decoration: none;
    color:rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat';
    
}
.footer_li{
    margin-bottom: 20px;
}
.footer_ul{
    list-style: none;
}
.footer_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
}


.footer_logo-pic{
    margin-top:15px;
}

.footer_subs-text{
    color:rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
}




.footer_input{
    width: 260px;
    height: 44px;
    position: relative;
}

.background_footer{
    background:#fff;
}
.footer_mini{
    width:560px;
    background:#fff;
    padding:100px 110px 100px 110px;
}
.footer_mini_align{
    margin:0 auto;
    padding-left: 32px;
}
.footer_mini_icons{
    width:110px;
    margin:0 auto;
}
.copyright_mini{
    text-align: center;
}
.footer_icons{
    margin:0;
    padding:0;
}