.sign_up{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width:100%;
    padding:30px;
    
}
.sign_up_content{
    width:320px;
    margin: 0 auto;
}
.sign_up_text{
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    margin: 10px 0 20px 0;
}

.sign_up_subtext{
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
}
.sign_up_button{
    margin:20px 0 30px 0;
}
.already_exist{
    display: flex;
    justify-content: space-between;
}
.already_exist_text{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.already_exist_button{
    margin-top: 5px;
}