block config
  include pug/config.pug
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
block components
  include pug/components/textfield.pug
  include pug/components/buttons.pug
  include pug/components/radio_button.pug
  include pug/components/checkbox_buttons.pug
  include pug/components/toggle_button.pug
  include pug/components/bullet_list.pug
  include pug/components/rich_checkbox.pug
  include pug/components/icon_info.pug
  include pug/components/like_button.pug
  include pug/components/feedback.pug
doctype html
html
  head(lang=lang)
    title #{myTitle}
      
    block metatags    
      meta(charset="utf-8")
      meta(name='description' content=myDesc)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible',content='IE=Edge')
            
  body
    .wrapper
      header.header 
        include pug/_header.pug
      include pug/forms.pug  
    main.main    
      block content
        
    footer.footer 
      
      include pug/_footer.pug
  script 
    include js/like_button.js