.toggle_button{
    position: relative;
}

.toggle_input{
    appearance: none;
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 20px;
    margin:0px;
}

.toggle_label{
    padding-left: 50px;
    color:rgba(31, 32, 65, 0.5);
    font-size: 14px;
    line-height: 24px;
    padding-right: 20px;
    font-family: 'Montserrat';
}

.toggle_label:before{
    content: "";
    display:block;
    width: 40px;
    height: 20px;
    box-shadow: 0 0 0px 0px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.toggle_label:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    position: absolute;
    top:4px;
    left:4px;
    z-index: 2;
    
}

.toggle_input:checked + .toggle_label:before{
    border-color:#BC9CFF;
    
}
.toggle_input:checked + .toggle_label:after{
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left:24px;
}

